.Board{
  margin-top:10%;
<<<<<<< HEAD
}

li.placeholder { background: rgb(255,240,120);}
li.placeholder:before {
  content: "Drop here"; color: rgb(225,210,90);
}
ul {
  list-style: none;
  margin:0;
  padding:0
}
li {
  padding: 5px;
  background:#eee
}

.btn-primary{
  margin: 0 10px;
=======
>>>>>>> e79168e27d9f7643821a5b6df84364dc6b6a9266
}